@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
}


nav {
    background-color: #ffffff;
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar a {
    color: #000000 !important;
    font-weight: 500;
}

.navbar-shadow {
    transition: box-shadow 0.s ease;
    -webkit-transition: box-shadow 0.s ease;
    -moz-transition: box-shadow 0.s ease;
    -ms-transition: box-shadow 0.s ease;
    -o-transition: box-shadow 0.s ease;
}

.navbar-shadow.shadow-on-scroll {
    box-shadow: 0 0 10px 5px rgba(136, 136, 136, 0.1);
}

.navbar-light.scrolled {
    background-color: #ffffff;
}

.navbar-light.scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar #navbarNavigation .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.navbar #button-daftar {
    width: 160px;
    background-color: #174076;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.navbar #button-daftar a {
    font-size: 15px;
    color: #ffffff !important;
}

@media (max-width: 576px) {
    #navv {
        background-color: #ffffff !important;
    }

    #navv .navbar-nav .nav-link {
        color: #1E1E1E !important;
    }
}



.notfound {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notfound .container {
    display: flex;
    justify-content: center;
    align-items: center;
}  

.notfound-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notfound p {
    color: #174076;
    font-size: 2rem;
    margin: 0 !important;
}

.notfound #description {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

.notfound h1 {
    font-family: 'Lilita One', cursive;;
    font-size: 20rem;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(#174076, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notfound .btn-primary {
    background-color: #174076 !important;
    margin-top: 20px;
    padding: 15px 50px;
    border-radius: 10px !important;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}

@media screen and (max-width: 768px) {
    .notfound h1 {
        font-size: 15rem;
    }
}
@media screen and (max-width: 576px) {
    .notfound h1 {
        font-size: 10rem;
    }
    .notfound p {
        font-size: 1.5rem;
    }
    .notfound .btn-primary {
        background-color: #174076 !important;
        font-size: 0.9rem;
        padding: 10px 30px;
    }
    
}
@media screen and (max-width: 382px) {
    .notfound p, .notfound #description {
        font-size: 1.2rem;
    }
}



.contact {
    background-color: #ffffff;
    height: 70vh;
    width: 100%;
    padding-top: 120px;
}

.contact h4 {
    font-family: 'PT Serif', serif;
    padding-bottom: 10px;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.contact p {
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
}

.contact a {
    text-decoration: none;
    color: #1E1E1E;
}

.contact #link .col-xl-10 {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media screen and (max-width: 1078px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 992px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
    .contact {
        height: 65vh;
    }
    .contact h4 {
        font-size: 1.3rem;
    }
    .contact p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 853px) {
    #link p {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        height: 75vh;
    }
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 428px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 382px) {
    .contact {
        height: 75vh;
    }
    .contact p {
        font-size: 0.8rem;
    }
}

.footer {
    background-color: #174076;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.footer .container {
    text-align: center;
}

.footer .footer-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer .mbuh {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footer .container p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer .footer-desc {
        justify-content: center;
    }
    .footer p {
        font-size: 0.9rem;
    }
    .footer #left {
        padding-right: 20px;
    }
    .footer #right {
        padding-left: 20px;
    }
}

@media screen and (max-width: 395px) {
    .footer,
    .col-xl-10,
    .footer .col-md-9,
    .footer .col-10 {
        padding-left: 1px;
    }
}

@media screen and (max-width: 382px) {
    .footer {
        height: 15vh;
    }
    .footer-desc p {
        font-size: 0.8rem;
    }

}