* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
    background-color: #ffffff;
}

.creation {
    height: 100%;
    width: 100%;
}

.creation .col {
    padding:  0 0;
}

.creation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.creation-link .creation-link-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
    border: 1px solid #000000;
}

.creation-link-content .row {
    margin: 0 0;
}


.creation-link p{
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: #000000;
    margin: 0;
}

.creation-content {
    display: flex;
    flex-direction: column;
}

.creation-content h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.creation-content p {
    font-size: medium;
    color: rgb(0, 0, 0);
    margin: 0;
}

.creation a {
    text-decoration: none;
    color: #ffffff;
}

.creation-button {
    width: 180px;
    padding: 15px 15px;
    background-color: #174076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.creation-button:hover {
    background-color: #0F2B5B;
    transition: 0.7s;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.about {
    background-color: #ffffff;
    height: 660px;
    width: 100%;
    padding-top: 135px;
}

.about-content h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.about-content p {
    font-size: medium;
    color: rgb(0, 0, 0);
    margin: 0;
}

.about-title-visi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-title-visi h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}