@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #ffffff;
}


nav {
    background-color: #ffffff;
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar a {
    color: #000000 !important;
    font-weight: 500;
}

.navbar-shadow {
    transition: box-shadow 0.s ease;
    -webkit-transition: box-shadow 0.s ease;
    -moz-transition: box-shadow 0.s ease;
    -ms-transition: box-shadow 0.s ease;
    -o-transition: box-shadow 0.s ease;
}

.navbar-shadow.shadow-on-scroll {
    box-shadow: 0 0 10px 5px rgba(136, 136, 136, 0.1);
}

.navbar-light.scrolled {
    background-color: #ffffff;
}

.navbar-light.scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar #navbarNavigation .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.navbar #button-daftar {
    width: 160px;
    background-color: #174076;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.navbar #button-daftar a {
    font-size: 15px;
    color: #ffffff !important;
}

@media (max-width: 576px) {
    #navv {
        background-color: #ffffff !important;
    }

    #navv .navbar-nav .nav-link {
        color: #1E1E1E !important;
    }
}



.creation {
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.creation h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.creation p {
    font-size: medium;
    font-weight: 300;
    color: #5C5C5C;
    margin: 0;
}

.creation .col {
    padding: 0 0;
}

.creation #creation-page-one {
    margin-top: 60px;
    padding: 0 0;
}

.creation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.creation-link .creation-link-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
}

.creation-link-content .row {
    margin: 0 0;
}


.creation-link p {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    color: #1E1E1E;
    margin: 0;
}

.creation-content {
    display: flex;
    flex-direction: column;
}

.creation-content h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.creation-content p {
    font-size: medium;
    color: #1E1E1E;
    margin: 0;
}

.creation a {
    text-decoration: none;
    color: #1E1E1E;
}

.creation-button {
    width: 180px;
    padding: 15px 15px;
    background-color: #174076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.creation-button:hover {
    background-color: #0F2B5B;
    transition: 0.7s;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}



.contact {
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
    padding-top: 180px;
}

.contact h4 {
    font-family: 'PT Serif', serif;
    padding-bottom: 10px;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.contact p {
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
}

.contact a {
    text-decoration: none;
    color: #1E1E1E;
}

.contact #link .col-xl-10 {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media screen and (max-width: 1078px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 992px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
    .contact {
        height: 76vh;
    }
    .contact h4 {
        font-size: 1.3rem;
    }
    .contact p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 853px) {
    #link p {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        height: 80vh;
        padding-top: 200px;
    }
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 428px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 382px) {
    .contact {
        height: 75vh;
    }
    .contact p {
        font-size: 0.8rem;
    }
}



.footer {
    background-color: #174076;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer .container {
    text-align: center;
}

.footer .container p {
    margin: 0;
}

.footer .footer-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .creation .creation-link-content img {
        width: 25px;
        height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .creation-link p {
        font-size: 18px;
    }
    .creation .creation-link-content img {
        width: 20px;
        height: 15px;
    }
    .creation-link .creation-link-content {
        width: 120px;
    }
    .footer .footer-desc {
        justify-content: center;
    }
    .footer p {
        font-size: 0.9rem;
    }
    .footer #left {
        padding-right: 20px;
    }
    .footer #right {
        padding-left: 20px;
    }
}

@media screen and (max-width: 382px) {
    .footer {
        height: 15vh;
    }
    .footer-desc p {
        font-size: 0.8rem;
    }
}