* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/img/front-view-young-hardworking-clerical-workers-discussing-one-issue-documents-office\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar-shadow {
    transition: box-shadow 0.s ease;
    -webkit-transition: box-shadow 0.s ease;
    -moz-transition: box-shadow 0.s ease;
    -ms-transition: box-shadow 0.s ease;
    -o-transition: box-shadow 0.s ease;
}
  .navbar-shadow.shadow-on-scroll {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.navbar-light.scrolled {
    background-color: white;
}

.navbar-light.scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

@media (max-width: 576px) {
    #navv {
      background-color: white !important;
    }
    #navv .navbar-nav .nav-link {
      color: #000000 !important;
    }
  }


.hero {
    height: 100vh;
    width: 100%;
}

.hero .row {
    margin-top: 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.hero-content p {
    font-size: medium;
    color: rgb(0, 0, 0);
    margin: 0;
}

.hero a {
    text-decoration: none;
    color: #ffffff;
}

.hero-button {
    width: 180px;
    padding: 15px 15px;
    background-color: #174076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hero-button:hover {
    background-color: #0F2B5B;
    transition: 0.7s;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.about {
    background-color: #ffffff;
    height: 660px;
    width: 100%;
    padding-top: 135px;
}

.about-content h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.about-content p {
    font-size: medium;
    color: rgb(0, 0, 0);
    margin: 0;
}

.about-content .visi-misi p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin: 0;
}

                            
.about #smalltree {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .about .row .col-md-6 {
    height: 30px;
} */

.about-title-visi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-title-visi h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.suggest {
    background-color: #ffffff;
    height: 85vh;
    width: 100%;
}

/* .suggest .row {
    margin-right: 0;
    overflow-x: hidden;
} */

.suggest-image {
    width: 90%;
    background-color: #174076;
}

.suggest-info {
    padding-right: 120px;
    color: rgb(0, 0, 0);
}

.suggest-info h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.suggest-info p {
    line-height: 30px;
    margin-top: 1rem;
}

.suggest .suggest-button {
    width: 100%;
    padding: 15px 15px;
    background-color: #174076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.suggest .suggest-button a {
    text-decoration: none;
    color: #ffffff;
}


.service {
    background-color: #ffffff;
    height: 150vh;
    width: 100%;
    /* border: 1px solid red; */
}

.service h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.service .text-center p {
    font-size: medium;
    color: #5C5C5C;
    margin: 0;
}

.service-list-card {
    margin-top: 80px;
}

.card {
    border: none;
    border-radius: 10px;
    position: relative;
    height: 320px;
    max-height: 320px;
}

.service-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 10px 20px 0px rgba(38, 45, 118, 0.10);
    /* box-shadow: -8px 10px 10px rgba(0, 0, 0, 0.1), 8px 10px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
}

.card-body {
    padding: 0 2.5rem 0 2.5rem;
}

.card-body h5 {
    font-size: 20px;
    color: #2F327D;
    margin: 0;
}

.card-body p {
    color: #696984;
    margin: 0;
}

.card-icon {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.circle {
    /* position: absolute;
    top: -20px;
    left: 50%; */
    margin-top: 35px;
    transform: translateX(-50%);
    rotate: 45deg;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    z-index: 1;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.card-icon iconify-icon {
    position: relative;
    color: white;
    z-index: 2;
    top: 25px;
    left: 24px;
}

.sponsor {
    background-color: #ffffff;
    height: 40vh;
    width: 100%;
    /* border: 1px solid red; */
}

.sponsor h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.sponsor-image {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.sponsor-image img {
    width: 100%;
    height: 100%;
}

.contact {
    background-color: #ffffff;
    height: 70vh;
    width: 100%;
    padding-top: 120px;
    /* margin-top: 70px; */
}

.contact h4 {
    font-family: 'PT Serif', serif;
    padding-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.contact a {
    text-decoration: none;
    color: #000000;
}

.footer {
    background-color: #174076;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer .container {
    text-align: center;
}

.footer .footer-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer .mbuh {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footer .container p {
    margin: 0;
}


@media screen and (max-width: 992px) {
    .contact {
        height: 65vh;
    }
    .contact h4 {
        font-size: 1.3rem;
    }

    .contact p {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 768px) {
    .contact {
        height: 75vh;
    }

    .footer .footer-desc {
        justify-content: center;
    }

    .footer p {
        font-size: 0.9rem;
    }

    .footer #left {
        padding-right: 20px;
    }

    .footer #right {
        padding-left: 20px;
    }
}

@media screen and (max-width: 428px) {
    .contact .col-2,
    .contact .col-6,
    .contact .col-10,
    .contact .col-md-3,
    .contact .col-md-5,
    .contact .col-md-6,
    .contact .col-md-7,
    .contact .col-md-9,
    .contact .col-sm-6,
    .contact .col-xl-2,
    .contact .col-xl-10    {
        padding-left: 9px;
    }
}

@media screen and (max-width: 395px) {
    .footer,
    .col-xl-10,
    .col-md-9,
    .col-10 {
        padding-left: 1px;
    }
}

@media screen and (max-width: 382px) {
    .contact {
        height: 75vh;
    }

    .contact p {
        font-size: 0.8rem;
    }

    .footer {
        height: 15vh;
    }

    .footer-desc p {
        font-size: 0.8rem;
    }

}

.testimonials {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials .text-center h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin: 0;
}

.wrappe {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrappe i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrappe i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrappe i:first-child {
    left: -22px;
}

.wrappe i:last-child {
    right: -22px;
}

.wrappe .carousell {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 70px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 400px;
    align-content: center;
}

.carousell::-webkit-scrollbar {
    display: none;
}

.carousell.no-transition {
    scroll-behavior: auto;
}

.carousell.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousell.dragging .cardd {
    cursor: grab;
    user-select: none;
}

.carousell :where(.cardd, .imgg) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousell .cardd {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 300px;
    list-style: none;
    background: #fff;
    /* cursor: pointer; */
    /* padding-bottom: 15px; */
    border-radius: 8px;
    padding: 0 20px;
    /* border: 1px solid #c71a1a; */
    box-shadow: 0px 11px 10px 10px rgba(164, 164, 164, 0.1);
}

.cardd .cardd-contentt {
    /* border: 1px solid #c71a1a; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

.cardd-contentt .cardd-imggg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #c71a1a; */
    padding-right: 15px;
}

.cardd-imggg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.cardd-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.cardd-contentt .icon {
    /* border: 1px solid #c71a1a; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
}

.carousell .cardd .imgg {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.cardd .imgg img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousell .cardd h5 {
    font-weight: 500;
}

.carousell .cardd p {
    font-size: 14px;
    color: #6A6D78;
    margin: 0;
}

.carousell .cardd-name #smallone, #smalltwo, #smallthree, #smallfour, #smallfive, #smallsix {
    font-size: 12px;
    color: #174076;
    font-weight: thin;
}

@media screen and (max-width: 1115px) {
    .card {
        height: 400px;
        max-height: 400px;
    }
    .service {
        height: 170vh;
    }
    .suggest-info {
        padding-right: 30px;
    }
    .suggest-info p {
        font-size: 16px;
    }
    .suggest .suggest-button {
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: thin;
    }
    .wrappe .carousell {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 992px) {
    .about {
        height: 100%;
        padding-top: 90px;
    }
    .about-title-visi h3 {
        font-size: 22px;
    }
    .visimisi p {
        font-size: 14px;
    }
    .suggest {
        padding-top: 90px;
    }
    .suggest-info {
        padding-right: 20px;
    }
    .suggest .suggest-info p {
        margin-top: 0;
        line-height: normal;
        font-size: 14px;
    }
    .card {
        height: 320px;
        max-height: 400px;
    }
    .service {
        height: 150vh;
    }
    .card-body {
        padding: 0 1rem 1rem 1rem;
    }
    .card-body h5 {
        font-size: 16px;
        color: #2F327D;
        margin: 0;
    }
    .card-body p {
        font-size: 12px;
        color: #696984;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 100%;
        padding-top: 50px;
    }

    .about-content h2 {
        font-size: 24px;
    }

    .about-img {
        margin-top: 30px;
    }

    .about-title-visi h3 {
        font-size: 20px;
    }

    .visimisi p {
        font-size: 15px;
    }

    .suggest {
        height: 100%;
        padding: 50px 0 80px 0;
    }

    .suggest .row {
        margin-right: 0;
        margin-left: 0;
        overflow-x: hidden;
    }

    .suggest p {
        padding-right: 0;
        font-size: 16px;
    }
    .suggest-info {
        padding-right: 0;
        padding-bottom: 40px;

    }
    .suggest .suggest-info p {
        padding-right: 20px;
        margin-top: 10px;
    }

    .suggest-image {
        width: 100%;
    }
    .suggest .suggest-button {
        margin-top: 20px;
        padding: 12px 15px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: thin;
    }
    /* .suggest  .col-md-6 {
        padding-right: 0;
    } */
    .service {
        height: 100%;
        padding-bottom: 70px
    }

    .card {
        margin-top: 40px;
    }

    .card-body {
        padding: 2.75rem;
    }

    .card-body h5 {
        font-size: 25px;
        color: #2F327D;
        margin: 0;
    }

    .card-body p {
        font-size: 18px;
        color: #696984;
        margin: 0;
    }

    .sponsor {
        height: 100%;
        padding-bottom: 80px;
    }

    .wrappe .carousell {
        grid-auto-columns: 100%;
    }

    .wrappe i:last-child {
        right: -14px;
    }
}

@media screen and (max-width: 853px) {
    #link p {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
}

@media screen and (max-width: 600px) {
    .wrappe .carousell {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        height: 350px;
        max-height: 400px;
    }
}

@media screen and (max-width: 576px) {
    .suggest p {
        font-size: 14px;
    }
    .suggest .suggest-info p {
        padding-right: 0;
    }
    .card-body {
        padding: 1rem 2.5rem;
    }
    .card-body h5 {
        font-size: 20px;
        color: #2F327D;
        margin: 0;
    }
    .card-body p {
        font-size: 15px;
        color: #696984;
        margin: 0;
    }
    .circle {
        /* position: absolute;
        top: -20px;
        left: 50%; */
        transform: translateX(-50%);
        width: 45px;
        height: 45px;
        border-radius: 10%;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
    }

    .card-icon iconify-icon {
        position: relative;
        color: white;
        z-index: 2;
        top: 30px;
        left: 20px;
    }
    .cardd-contentt .cardd-imggg {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #c71a1a; */
        padding-right: 0;
    }
    .cardd-contentt .icon {
        /* border: 1px solid #c71a1a; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .suggest .suggest-button {
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: thin;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
}
}

@media screen and (max-width: 487px) {
    .suggest .trial {
        width: 500px;
        border: 1px solid red;
        position: relative;
        z-index: 1;
        left: -15px;
        margin-right: -29px !important;

    }
}