@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url('./assets/img/sunshine-hero.webp');
}



.navbar {
    transition: background-color 0.3s ease;
}

.navbar a {
    font-weight: 500;
}

.navbar-shadow {
    transition: box-shadow 0.s ease;
    -webkit-transition: box-shadow 0.s ease;
    -moz-transition: box-shadow 0.s ease;
    -ms-transition: box-shadow 0.s ease;
    -o-transition: box-shadow 0.s ease;
}

.navbar-shadow.shadow-on-scroll {
    box-shadow: 0 0 10px 5px rgba(136, 136, 136, 0.1);
}

.navbar-light.scrolled {
    background-color: #ffffff;
}

.navbar-light.scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar.navbar-light.active {
    background-color: white;
}

.navbar.navbar-light.active .navbar-nav .nav-link {
    color: black !important;
}

.navbar #navbarSupportedContent .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar #button-daftar {
    width: 160px;
    background-color: #174076;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.navbar #button-daftar a {
    font-size: 15px;
    color: #ffffff !important;
}

@media screen and (max-width: 990px) {
    .navbar #button-daftar {
        width: 100%;
    }
}



.hero {
    height: 100vh;
    width: 100%;
}

.hero .row {
    margin-top: 100px;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.hero-content p {
    font-size: medium;
    color: #ffffff;
    margin: 0;
}

.hero a {
    text-decoration: none;
    color: #ffffff;
}

.hero-button {
    width: 180px;
    padding: 15px 15px;
    background-color: #174076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hero-button:hover {
    background-color: #0F2B5B;
    transition: 0.7s;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}



.about {
    background-color: #ffffff;
    height: 660px;
    width: 100%;
    padding-top: 135px;
}

.about-content h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.about-content p {
    font-size: 15px;
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
}

.about #smalltree {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-title-visi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-title-visi h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: 1E1E1E;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .about {
        height: 100%;
        padding-top: 90px;
    }
    .about-title-visi h3 {
        font-size: 22px;
    }
    .visimisi p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 100%;
        padding-top: 50px;
    }
    .about-content h2 {
        font-size: 24px;
    }
    .about-img {
        margin-top: 30px;
    }
    .about-title-visi h3 {
        font-size: 20px;
    }
    .about p {
        text-align: justify;
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    #about-title-misi {
        margin-top: 25px;
    }
}



.suggest {
    background-color: #ffffff;
    height: 85vh;
    width: 100%;
    max-width: 100%;
}

.suggest .row {
    margin-right: 0;
    overflow-x: hidden;
}

.suggest-image {
    width: 90%;
    background-color: #174076;
}

.suggest-info {
    padding-right: 220px;
}

.suggest-info h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.suggest-info p {
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
    line-height: 30px;
    margin-top: 1rem;
}

.suggest .suggest-button {
    width: 100%;
    background-color: #174076;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    border-radius: 10px;
    color: #FAFAFA;
    font-weight: 500;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.suggest .suggest-button a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 1115px) {
    .suggest-info {
        padding-right: 30px;
    }
    .suggest .suggest-button {
        padding: 10px 15px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: thin;
    }
}

@media screen and (max-width: 992px) {
    .suggest {
        padding-top: 90px;
    }
    .suggest-info {
        padding-right: 20px;
    }
    .suggest .suggest-info p {
        margin-top: 0;
        line-height: normal;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .suggest {
        height: 100%;
        padding: 50px 0 80px 0;
    }
    .suggest .row {
        margin-right: 0;
        margin-left: 0;
        overflow-x: hidden;
    }
    .suggest p {
        padding-right: 0;
        font-size: 16px;
    }
    .suggest-info {
        padding-right: 0;
        padding-bottom: 40px;
    }

    .suggest .suggest-info p {
        padding-right: 20px;
        margin-top: 10px;
    }
    .suggest-image {
        width: 100%;
    }
    .suggest .suggest-button {
        margin-top: 20px;
        padding: 12px 15px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: thin;
    }
}


@media screen and (max-width: 576px) {
    .suggest p {
        font-size: 15px;
    }

    .suggest .suggest-info p {
        text-align: justify;
        padding-right: 0;
        font-size: 15px;
    }
    .suggest .suggest-button {
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: thin;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}

@media screen and (max-width: 487px) {
    .suggest .trial {
        width: 500px;
        position: relative;
        z-index: 1;
        left: -15px;
        margin-right: -29px !important;

    }
}



.service {
    background-color: #ffffff;
    height: 150vh;
    width: 100%;
}

.service h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #1E1E1E; 
    margin: 0;
}

.service .text-center p {
    margin: 0;
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
}   

.service-list-card {
    margin-top: 80px;
}

.card {
    border: none;
    border-radius: 10px;
    position: relative;
    height: 300px;
    max-height: 320px;
}

.service-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 10px 20px 0px rgba(38, 45, 118, 0.10);
    z-index: 1;
}

.card-body {
    padding: 0 2.5rem 0 2.5rem;
}

.card-body h5 {
    font-size: large;
    font-weight: 800;
    color: #2F327D;
    margin: 0;
}

.card-body p {
    margin: 0;
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
}

.card-icon {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.circle {
    margin-top: 50px;
    transform: translateX(-50%);
    rotate: 45deg;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    z-index: 1;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.card-icon iconify-icon {
    position: relative;
    color: #ffffff;
    z-index: 2;
    top: 43px;
    left: 22px;
}

@media screen and (max-width: 1115px) {
    .card {
        height: 400px;
        max-height: 400px;
    }
    .service {
        height: 170vh;
    }
}

@media screen and (max-width: 992px) {
    .card {
        height: 320px;
        max-height: 400px;
    }
    .service {
        height: 150vh;
    }
    .card-body {
        padding: 0 1rem 1rem 1rem;
    }
    .card-body h5 {
        font-size: 16px;
        color: #2F327D;
        margin: 0;
    }
    .card-body p {
        font-size: 12px;
        color: #1E1E1E;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .service {
        height: 100%;
        padding-bottom: 70px
    }
    .card {
        margin-top: 40px;
    }
    .card-body {
        padding: 2.75rem;
    }
    .card-body h5 {
        font-size: 25px;
        color: #2F327D;
        margin: 0;
    }
    .card-body p {
        font-size: 18px;
        color: #1E1E1E;
        margin: 0;
    }
    .card-icon iconify-icon {
        position: relative;
        color: #ffffff;
        z-index: 2;
        top: 42px;
        left: 23px;
    }
}

@media screen and (max-width: 600px) {
    .card {
        height: 350px;
        max-height: 400px;
    }
}


@media screen and (max-width: 576px) {
    .card-body {
        padding: 1rem 2.5rem;
    }
    .card-body h5 {
        font-size: 20px;
        color: #2F327D;
        margin: 0;
    }
    .card-body p {
        font-size: 15px;
        color: #1E1E1E;
        margin: 0;
    }
    .circle {
        margin-top: 50px;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        border-radius: 25%;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-border-radius: 25%;
        -moz-border-radius: 25%;
        -ms-border-radius: 25%;
        -o-border-radius: 25%;
}
    .card-icon iconify-icon {
        position: relative;
        color: white;
        z-index: 2;
        top: 42px;
        left: 20px;
    }
    .cardd-contentt .cardd-imggg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .cardd-contentt .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}



.wavessss {
    height: 100%;
    width: 100%;
}

.wavessss .headerr {
    position: relative;
    text-align: center;
    background-color: #174076;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
}

.wavessss .logo {
    width: 50px;
    fill: #ffffff;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.wavessss .inner-headerr {
    height: 65vh;
    width: 100%;
    margin: 80px 0 0 0;
    padding: 0 300px 0 300px;
}

.wavessss .flexx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 25vh;
}

.wavessss .waves {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.wavessss .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: #ffffff;
}

.wavessss .flexx h3 {
    font-family: 'PT Serif', serif;
    color: #ffffff;
    margin: 0;
    letter-spacing: 1px;
}

.wavessss .waves-button {
    background-color: #0E294D;
    margin-top: 30px;
    padding: 16px 60px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.wavessss .waves-button a {
    color: #ffffff;
    text-decoration: none;
}

.wavessss .parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
        -webkit-transform: translate3d(85px, 0, 0);
        -moz-transform: translate3d(85px, 0, 0);
        -ms-transform: translate3d(85px, 0, 0);
        -o-transform: translate3d(85px, 0, 0);
}
}

@media (max-width: 992px) {
    .wavessss .inner-headerr {
        height: 65vh;
        width: 100%;
        margin: 80px 0 0 0;
        padding: 0 100px 0 100px;
    }
    .wavessss .flexx {
        height: 15vh;
    }
    .wavessss .waves-button {
        background-color: #0E294D;
        margin-top: 30px;
        padding: 12px 60px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
    }
}

@media (max-width: 768px) {
    .wavessss .waves {
        height: 60px;
        min-height: 40px;
    }
    .wavessss .content {
        height: 30vh;
    }
    .wavessss .flexx h3 {
        font-size: 18px;
        letter-spacing: 0;
    }
    .wavessss .waves-button {
        background-color: #0E294D;
        padding: 8px 18px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        transition: 0.3s;
    }
    .wavessss {
        height: 100%;
    }
    .wavessss .inner-headerr {
        height: 14vh;
        width: 100%;
        margin: 50px 0 0 0;
        padding: 0 100px 0 100px;
    }
}

@media (max-width: 576px) {
    .wavessss .flexx h3 {
        font-size: 18px;
    }
    .wavessss .waves-button {
        background-color: #0E294D;
        margin-top: 10px;
        padding: 8px 16px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 10px;
        font-weight: 500;
        transition: 0.3s;
    }
    .wavessss .inner-headerr {
        padding: 0 20px 0 20px;
    }
}



.testimonials {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials .text-center h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.testimonials .text-center p {
    font-size: 15px;
    font-weight: 300 !important;   
    color: #1E1E1E;
    margin: 0;
}

.wrappe {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrappe i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #174076;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.wrappe i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrappe i:first-child {
    left: -22px;
}

.wrappe i:last-child {
    right: -22px;
}

.wrappe .carousell {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 70px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 400px;
    align-content: center;
}

#right, #left {
    color: #ffffff;
}

.carousell::-webkit-scrollbar {
    display: none;
}

.carousell.no-transition {
    scroll-behavior: auto;
}

.carousell.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousell.dragging .cardd {
    cursor: grab;
    user-select: none;
}

.carousell :where(.cardd, .imgg) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousell .cardd {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    height: 300px;
    list-style: none;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 20px;
    box-shadow: 0px 11px 10px 10px rgba(164, 164, 164, 0.1);
}

.cardd .cardd-contentt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

.cardd-contentt .cardd-imggg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.cardd-imggg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.cardd-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardd-contentt .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
}

.carousell .cardd .imgg {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.cardd .imgg img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
}

.carousell .cardd h5 {
    font-weight: 500;
}

.carousell .cardd p {
    font-size: 14px;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
}

.carousell .cardd-name p {
    font-size: 14px;
    font-weight: normal;
    color: #1E1E1E;
    margin: 0;
}


.carousell .cardd-name #smallone,
#smalltwo,
#smallthree,
#smallfour,
#smallfive,
#smallsix {
    font-size: 12px;
    color: #174076;
    font-weight: thin;
}

@media screen and (max-width: 1115px) {
    .wrappe .carousell {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 768px) {
    .wrappe .carousell {
        grid-auto-columns: 100%;
    }
    .wrappe i:last-child {
        right: -14px;
    }
}

@media screen and (max-width: 600px) {
    .wrappe .carousell {
        grid-auto-columns: 100%;
    }
}



.contact {
    background-color: #ffffff;
    height: 70vh;
    width: 100%;
    padding-top: 120px;
}

.contact h4 {
    font-family: 'PT Serif', serif;
    padding-bottom: 10px;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.contact p {
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
}

.contact a {
    text-decoration: none;
    color: #1E1E1E;
}

.contact #link .col-xl-10 {
    display: flex;
    align-items: center;
    justify-content: start;
}

@media screen and (max-width: 1078px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 992px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
    .contact {
        height: 65vh;
    }
    .contact h4 {
        font-size: 1.3rem;
    }
    .contact p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 853px) {
    #link p {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        height: 75vh;
    }
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 428px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 382px) {
    .contact {
        height: 75vh;
    }
    .contact p {
        font-size: 0.8rem;
    }
}



.footer {
    background-color: #174076;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer .container {
    text-align: center;
}

.footer .footer-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer .mbuh {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footer .container p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer .footer-desc {
        justify-content: center;
    }
    .footer p {
        font-size: 0.9rem;
    }
    .footer #left {
        padding-right: 20px;
    }
    .footer #right {
        padding-left: 20px;
    }
}


@media screen and (max-width: 382px) {
    .footer {
        height: 15vh;
    }
    .footer-desc p {
        font-size: 0.8rem;
    }
}