@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-image: url('./assets/images/hero-sunshine.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.307);
}

a {
    text-decoration: none;
}



.navbar {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.navbar a {
    font-weight: 500;
}

/* if expand */
.navbar-light .navbar-toggler-icon.icon-expanded {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* if not expand */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-shadow {
    transition: box-shadow 0.s ease;
    -webkit-transition: box-shadow 0.s ease;
    -moz-transition: box-shadow 0.s ease;
    -ms-transition: box-shadow 0.s ease;
    -o-transition: box-shadow 0.s ease;
}

.navbar-shadow.shadow-on-scroll {
    box-shadow: 0 0 10px 5px rgba(136, 136, 136, 0.1);
}

.navbar-light.scrolled {
    background-color: #ffffff;
}

.navbar-light .navbar-toggler-icon.icon-scrolled {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light.scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar.navbar-light.active {
    background-color: white;
}

.navbar.navbar-light.active .navbar-nav .nav-link {
    color: black !important;
}

.navbar #navbarSupportedContent .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar #button-daftar {
    width: 170px;
    background-color: #174076;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.navbar #button-daftar a {
    font-size: 15px;
    color: #ffffff !important;
}

@media screen and (max-width: 990px) {
    .navbar #button-daftar {
        width: 100%;
    }
}



.hero {
    height: 100vh;
    width: 100%;
}

.hero a {
    text-decoration: none;
    color: #ffffff;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
}

.hero-button {
    width: 180px;
    padding: 15px 15px;
    background-color: #174076;
    border-radius: 40px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.hero-button:hover {
    background-color: #0F2B5B;
    transition: 0.7s;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

@media screen and (max-width: 576px) {
    .hero h1 {
        font-size: 2.5rem !important;
    }
    .hero p {
        font-size: 1rem !important;
    }
    .hero-button {
        padding: 12px 12px;
        border-radius: 30px;
        color: #FAFAFA;
        font-weight: 500;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
}

@media screen and (max-width: 427px) {
    .hero h1 {
        font-size: 2.2rem !important;
    }
    .hero p {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 378px) {
    .hero h1 {
        font-size: 1.8rem !important;
    }
    .hero p {
        font-size: 0.8rem !important;
    }
}

@media screen and (max-width: 328px) {
    .hero  h1 span {
        font-size: 1.5rem !important;
    }
}



.about {
    background-color: #ffffff;
    height: 600px;
    width: 100%;
    padding: 70px 0;
}

.about .about-description h3 {
    font-weight: normal;
    color: #1E1E1E;
    margin: 0;
}

.about .about-description p {
    font-size: 18px;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
    line-height: 30px;
}

.about #smalltree {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about .about-right {
    flex-wrap: wrap;
}

.about .card {
    width: 220px;
    max-width: 220px;
    height: 180px;
    max-height: 180px;
    margin: 20px 0;
    padding: 0 40px;
    border: none;
    box-shadow: #00000014 0px 0px 10px 0px;
}

.about .card p {
    font-size: 16px;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .about {
        height: 100%;
        padding-top: 90px;
    }
    .about .about-description h3 {
        font-size: 24px;
    }
    .about .about-description p {
        font-size: 16px;
        line-height: 25px;
    }
    .about .card {
        width: 145px;
        max-width: 145px;
        height: 145px;
        max-height: 145px;
        margin: 20px 10px;
        padding: 0 15px;
    }
    .about .card p {
        font-size: 14px;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 100%;
        padding-top: 70px;
    }
    .about-content h2 {
        font-size: 24px;
    }
    .about .about-description p {
        margin-top: 16px !important;
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
    }
    .about .about-right {
        margin-top: 20px;
    }
    .about .card {
        width: 175px;
        max-width: 200px;
        padding: 0 25px;
    }
    .about .card p {
        font-size: 14px;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 437px) {
    .about {
        height: 100%;
        padding-top: 60px;
    }
    .about .about-description h3 {
        font-size: 18px;
    }
    .about .about-description p {
        font-size: 14px
    }
    .about .card {
        width: 150px;
        max-width: 150px;
        height: 130px;
        max-height: 145px;
        margin: 10px 10px;
        padding: 0 25px;
    }
    .about .card p {
        font-size: 14px;
        text-wrap: wrap;
    }
}

@media screen and (max-width: 437px) {
    .about .card {
        width: 130px;
        max-width: 150px;
        height: 120px;
        max-height: 120px;
        margin: 5px 5px;
    }
    .about .card p {
        font-size: 12px;
    }
}

@media screen and (max-width: 437px) {
    .about .card {
        width: 120px;
        max-width: 150px;
        height: 115px;
        max-height: 145px;
        margin: 5px 5px;
        padding: 0 25px;
    }
}



.service {
    background-color: #174076;
    height: auto;
    width: 100%;
    padding: 70px 0;
}

.service .container {
    max-width: 1400px !important;
}

.service h1 {
    font-size: 2rem;
}

.service p {
    font-weight: 300 !important;
    font-size: 20px
}

.service .service-cards-container {
    overflow-x: auto;
    overflow-y: hidden;
}

.service-cards-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.service .service-cards-container::-webkit-scrollbar {
    display: none;
}

.service .service-cards-container {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.service .card {
    width: 400px;
    max-width: 400px;
    height: 320px;
    max-height: 320px;
    background-color: #174076;
    border: none;
    position: relative;
}

.service-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.service .card-body {
    padding: 0 2.5rem 0 2.5rem;
}

.service .card-body h5 {
    font-size: 18px;
    margin: 0;
}

.service .card-body p {
    margin: 0;
    font-size: 17px;
    font-weight: lighter;
}

.service .card-icon {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.service .circle {
    margin-top: 50px;
    transform: translateX(-50%);
    rotate: 45deg;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    z-index: 1;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.service .card-icon iconify-icon {
    position: relative;
    z-index: 2;
    top: 45px;
    left: 21px;
}

@media screen and (min-width: 1200px) {
    .service .service-cards-wrapper {
        flex-direction: row;
    }
    .service .col-md-4 {
        flex: 0 0 auto;
        max-width: 33.33%;
    }
    .service .card {
        width: 300px;
        max-width: 300px;
        height: 320px;
        max-height: 320px;
        background-color: #174076;
        border: none;
        border-radius: 10px;
        position: relative;
        margin: 0 0 0 65px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .service .card {
        width: 370px;
        height: 300px;
        max-height: 300px;
    }
}

@media screen and (max-width: 992px) {
    .service .card {
        width: 270px;
        max-width: 270px;
    }
    .service .card-body {
        padding: 0 1rem 1rem 1rem;
    }
    .service .card-body h5 {
        font-size: 16px;
    }
    .service .card-body p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .service {
        height: 100%;
        padding-bottom: 70px
    }
    .service #service-tagline {
        font-size: 2rem;
    }
    .service .card {
        width: 350px;
        max-width: 400px;
        height: 320px;
        max-height: 400px;
        margin-top: 40px;
    }
    .service .card-body {
        padding: 1.5rem;
    }
    .service .card-body h5 {
        margin-top: 5px !important;
        font-size: 20px;
    }
    .service .card-body p {
        font-size: 16px;
    }
    .service .card-icon iconify-icon {
        left: 20px;
    }
}

@media screen and (max-width: 576px) {
    .service .service-cards-container {
        margin : 10px !important;
    }
    .service #service-tagline {
        font-size: 1.5rem;
    }
    .service #service-tagline-desc {
        padding: 0 40px;
        font-size: 16px;
    }
    .service .card-body {
        padding: 1rem 2.5rem;
    }
    .service .circle {
        margin-top: 50px;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        border-radius: 25%;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-border-radius: 25%;
        -moz-border-radius: 25%;
        -ms-border-radius: 25%;
        -o-border-radius: 25%;
    }
    .service .card-icon iconify-icon {
        left: 20px;
    }
}

@media screen and (max-width: 449px) {
    .service .card {
        width: 300px;
        max-width: 300px;
        height: 320px;
        max-height: 320px;
        margin: 0 0 0 5px;
    }
    .service .card-body {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 378px) {
    .service #service-tagline-desc {
        padding: 0 30px;
        font-size: 14px;
    }
    .service .service-cards-container {
        margin : 0 !important;
    }
    .service .card {
        width: 19rem !important;
        margin: 0 !important;
    }
    .service .card-body {
        padding: 0.5rem 0.5rem;
    }
}

@media screen and (max-width: 345px) {
    .service .service-cards-container .col-md-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .service #service-tagline-desc {
        padding: 0 30px;
        font-size: 14px;
    }
    .service .service-cards-container {
        margin : 0 !important;
    }
    .service .card {
        width: 19rem !important;
        margin: 0 !important;
    }
    .service .card-body {
        margin-left: 10px;
        padding: 0.5rem 0.5rem;
    }
}



.package {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 80px 0 100px 0;
}

.package .card {
    border-radius: 16px !important;
    border: none;
    box-shadow: #00000014 0px 0px 10px 0px;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
}

.package .card img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.package .card-body {
    padding: 0 1.25rem 1.25rem 1.25rem !important;
}

.package .card h5 {
    font-size: 1.1rem;
}

.package .card p {
    margin-bottom: 0 !important;
}

.package .card button {
    width: 100%;
    height: 50px;
    background-color: #174076;
    color: white;
    margin-top: 15px;
    border: none;
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
    -ms-border-radius: 16px !important;
    -o-border-radius: 16px !important;
    transition: background-color 0.3s ease;
}

.package .card button:hover {
    background-color: #2A6BC2;
}

.package .card button a {
    color: #ffffff;
    text-decoration: none;
}  

.package .package-card-icon {
    margin-top: 10px;
}

.package #package-custom-cardLeft {
    margin-left: 150px;
}

.package #package-custom-cardRight {
    margin-right: 150px;
}

@media screen and (max-width: 1200px) {
    #package-custom-cardLeft, #package-custom-cardRight {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .package .package-card {
        justify-content: center !important;
    }
    .package .card {
        max-width: 18rem !important;
    }
}

@media screen and (max-width: 567px) {
    .package h2 {
        font-size: 1.5rem;
    }
    .package #package-card-first {
        margin-top: 20px !important;
    }
}



.banner {
    background-color: #00000059;
    height: 70vh;
    width: 100%;
    flex-direction: column !important;
}

.banner .hero-button {
    width: 220px;
    padding: 15px 25px;
    background-color: #174076;
    border-radius: 40px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.banner .hero-button a{
    color: #ffffff;
    text-decoration: none;
}

@media screen and ( max-width: 768px) {
    .banner #banner-tagline {
        font-size: 2rem;
    }
    .banner .hero-button {
        width: 160px;
        background-color: #174076;
        padding: 12px 12px;
        margin-top: 20px;
        border-radius: 30px;
    }
}

@media screen and ( max-width: 476px) {
    .banner h1 {
        font-size: 1.5rem;
    }
}

@media screen and ( max-width: 378px) {
    .banner {
        height: 50vh;
    }
    .banner h1 {
        font-size: 1.2rem;
        line-height: 25px;
    }
    .banner .hero-button a {
        font-size: 14px;
    }
}




.silabus {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 80px 0 0 0;
}

.silabus .container {
    max-width: 1400px !important;
}

.silabus-custom-container{
    width: auto;
    height: auto;
    background-color: #174076;
}

.silabus .col-md-9, .silabus .col-md-1, .silabus .col {
    padding: 0 0 0 0 !important;
    width: 100% !important;
}

.silabus p {
    margin: 0 !important;
}

.silabus #silabus-title{
    font-weight: bold;
    color: #174076;
}

.silabus-outer-box {
    display: flex;
    flex-direction: column;
}

.silabus .silabus-outer-box .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.silabus-box {
    width: 100% !important;
    height: 120px;
    background-color: #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

@media screen and ( max-width: 1300px) {
    .silabus .container {
        max-width: 1000px !important;
    }
}

@media screen and ( max-width: 1117px) {
    .silabus .container {
        max-width: 800px !important;
    }
}

@media screen and ( max-width: 820px) {
    .silabus .container {
        max-width: 600px !important;
    }
    .silabus-box {
        height: 140px;
    }
}

@media screen and ( max-width: 768px) {
    .silabus .silabus-outer-box {
        width: 100%;
        max-width: none;
    }
    .silabus-box {
        height: 130px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    .silabus #silabus-title{
        font-size: 16px;
    }
    .silabus #silabus-description {
        font-size: 14px;
    }
}

@media screen and ( max-width: 616px) {
    .silabus .container {
        margin-right: 20px;
        margin-left: 20px;
        width: auto !important;
        max-width: none;
    }
}

@media screen and ( max-width: 576px) {
    .silabus #silabus-title{
        font-size: 14px;
    }
    .silabus #silabus-description {
        font-size: 12px;
        padding-right: 10px;
    }
    .silabus #silabus-card-last {
        height: 150px;
    }
}

@media screen and ( max-width: 350px) {
    .silabus #silabus-card-four {
        height: 150px;
    }
    .silabus #silabus-card-last {
        height: 180px;
    }
}



.faq {
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 80px 0 0 0;
}

.faq .card {
    max-width: 100% !important;
    border-radius: 10px !important;
    box-shadow: #00000014 0px 0px 10px 0px;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.faq .card button {
    color: #1E1E1E;
    text-decoration: none;
}

@media (max-width: 992px) {
    .faq .card button {
        height: 50px !important;
        font-size: 14px;   
        text-wrap: wrap;
    }
}

@media (max-width: 490px) {
    .faq .card button {
        height: 70px !important;
    }
    .faq .card-body {
        font-size: 12px !important;
    }
}

@media (max-width: 380px) {
    .faq .card-header {
        padding: 1.5rem 1rem;
    }    
    .faq .card-header .btn {
        padding: 0 0 0 0 !important;
    } 
    .faq .card button {
        font-size: 13px;  
    }
}



.contact {
    height: 60vh;
    background-color: #ffffff;
    padding-top: 180px;
}

.contact h5 {
    padding-bottom: 10px;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.contact p {
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
}


.contact a {
    text-decoration: none;
    color: #1E1E1E;
}

@media screen and (max-width: 1078px) {
    .contact .smallone p {
        word-wrap: break-word;
        height: auto;
        overflow: hidden;
    }
}

@media screen and (max-width: 960px) {
    .contact {
        height: 55vh;
    }
    .contact h4 {
        font-size: 1.3rem;
    }
    .contact p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 853px) {
    #link p {
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 768px) {
    .contact {
        height: 65vh;
    }
}

@media screen and (max-width: 576px) {
    .contact {
        padding-top: 100px;
    }
}

@media screen and (max-width: 382px) {
    .contact p {
        font-size: 0.8rem;
    }
    .contact {
        height: 70vh;
    }
    .contact {
        padding-top: 100px;
    }
}



.footer {
    background-color: #174076;
    height: 10vh;
    color: white;
}

.footer .container p {
    margin: 0;
}

.footer #footer-desc {
    flex-wrap: nowrap !important;
}

.footer #left {
    padding-left: 130px;
}

@media screen and (max-width: 768px) {
    .footer #footer-copyright {
        justify-content: center !important;
    }
    .footer #footer-desc {
        margin-top: 10px;
        justify-content: space-evenly !important;
    }
    .footer p {
        font-size: 0.9rem;
    }
    .footer #left {
        padding-left: 0;
        padding-right: 20px;
    }
    .footer #right {
        padding-left: 20px;
    }
}

@media screen and (max-width: 382px) {
    .footer {
        height: 15vh;
    }
    #footer-desc p {
        font-size: 0.8rem;
    }
}





/* .testimonials {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials .text-center h2 {
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.testimonials .text-center p {
    font-size: 15px;
    font-weight: 300 !important;   
    color: #1E1E1E;
    margin: 0;
}

.wrappe {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrappe i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #174076;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.wrappe i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrappe i:first-child {
    left: -22px;
}

.wrappe i:last-child {
    right: -22px;
}

.wrappe .carousell {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 70px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 400px;
    align-content: center;
}

#right, #left {
    color: #ffffff;
}

.carousell::-webkit-scrollbar {
    display: none;
}

.carousell.no-transition {
    scroll-behavior: auto;
}

.carousell.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousell.dragging .cardd {
    cursor: grab;
    user-select: none;
}

.carousell :where(.cardd, .imgg) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousell .cardd {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    height: 300px;
    list-style: none;
    background: #ffffff;
    border-radius: 8px;
    padding: 0 20px;
    box-shadow: 0px 11px 10px 10px rgba(164, 164, 164, 0.1);
}

.cardd .cardd-contentt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

.cardd-contentt .cardd-imggg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.cardd-imggg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ffffff;
}

.cardd-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardd-contentt .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
}

.carousell .cardd .imgg {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
}

.cardd .imgg img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ffffff;
}

.carousell .cardd h5 {
    font-weight: 500;
}

.carousell .cardd p {
    font-size: 14px;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
}

.carousell .cardd-name p {
    font-size: 14px;
    font-weight: normal;
    color: #1E1E1E;
    margin: 0;
}


.carousell .cardd-name #smallone,
#smalltwo,
#smallthree,
#smallfour,
#smallfive,
#smallsix {
    font-size: 12px;
    color: #174076;
    font-weight: thin;
}

@media screen and (max-width: 1115px) {
    .wrappe .carousell {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 768px) {
    .wrappe .carousell {
        grid-auto-columns: 100%;
    }
    .wrappe i:last-child {
        right: -14px;
    }
}

@media screen and (max-width: 600px) {
    .wrappe .carousell {
        grid-auto-columns: 100%;
    }
} */













