@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url('./assets/hero-sunshine.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.307);
}

a {
    text-decoration: none;
}



.navbar {
    transition: background-color 0.3s ease;
}

.navbar a {
    font-weight: 500;
}

.navbar-shadow {
    transition: box-shadow 0.s ease;
    -webkit-transition: box-shadow 0.s ease;
    -moz-transition: box-shadow 0.s ease;
    -ms-transition: box-shadow 0.s ease;
    -o-transition: box-shadow 0.s ease;
}

.navbar-shadow.shadow-on-scroll {
    box-shadow: 0 0 10px 5px rgba(136, 136, 136, 0.1);
}

.navbar-light.scrolled {
    background-color: #ffffff;
}

.navbar-light.scrolled .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar.navbar-light.active {
    background-color: white;
}

.navbar.navbar-light.active .navbar-nav .nav-link {
    color: black !important;
}

.navbar #navbarSupportedContent .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar #button-daftar {
    width: 160px;
    background-color: #174076;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.navbar #button-daftar a {
    font-size: 15px;
    color: #ffffff !important;
}

@media screen and (max-width: 990px) {
    .navbar #button-daftar {
        width: 100%;
    }
}



.hero {
    height: 100vh;
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-family: 'PT Serif', serif;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.hero-content p {
    font-size: medium;
    color: #ffffff;
    margin: 0;
}

.hero a {
    text-decoration: none;
    color: #ffffff;
}

.hero-button {
    width: 180px;
    padding: 15px 15px;
    background-color: #174076;
    border-radius: 40px;
    color: #FAFAFA;
    font-weight: 500;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.hero-button:hover {
    background-color: #0F2B5B;
    transition: 0.7s;
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}



.about {
    background-color: #ffffff;
    height: 660px;
    width: 100%;
    padding-top: 135px;
}

.about-content h2 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: #1E1E1E;
    margin: 0;
}

.about-content p {
    font-size: 15px;
    font-size: normal;
    font-weight: 300;
    color: #1E1E1E;
    margin: 0;
}

.about #smalltree {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-title-visi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-title-visi h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    color: 1E1E1E;
    margin: 0;
}

@media screen and (max-width: 992px) {
    .about {
        height: 100%;
        padding-top: 90px;
    }
    .about-title-visi h3 {
        font-size: 22px;
    }
    .visimisi p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .about {
        height: 100%;
        padding-top: 50px;
    }
    .about-content h2 {
        font-size: 24px;
    }
    .about-img {
        margin-top: 30px;
    }
    .about-title-visi h3 {
        font-size: 20px;
    }
    .about p {
        text-align: justify;
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    #about-title-misi {
        margin-top: 25px;
    }
}
